/* styles for jumbotron section */

.jumbotron {
    margin-left: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.textJumbo {
    margin-right: 100px;
}

.textJumbo h2 {
    font-size: 40pt;
}

.textJumbo p, .textJumbo h2, .textJumbo a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textJumbo p {
    margin-bottom: 80px;
}

/* design get-started button */
.start {
    background-color: aquamarine;
    border-radius: 30px;
    box-shadow: -2px 2px rgb(125, 238, 201);
    padding: 8px;
    color: #fff;
}

/* stats section styles */

.stats {
    background-color: rgb(233, 234, 243);
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* styles for shorten component */

.stats .shortenDiv {
    width: 60%;
    background-image: url('../images/bg-shorten-desktop.svg');
    background-color: rgb(139, 114, 163);
    height: 80px;
    padding: auto;
    margin-top: -35px;
    border-radius: 5px;
}

.shortenItems {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
.shortenDiv textarea {
    width: 70%;
    resize: none;
}


.shorten {
    width: 20%;
    background-color: rgb(31, 210, 180);
    padding: 7.5px;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 15pt;
    color: white;
}

.advancedText {
    margin-top: 100px;
    font-size: 24pt;
}

/* styles for stat component */
.iconItems {
    display: flex; 
    margin: 200px 200px;
}


.brandStat {
    width: 25%;
    background-color: #fff;
    padding-left: 20px;
    border-radius: 10px;
    height: 250px;
}

.statLogo {
    background-color: rgb(105, 23, 135);
    width: 52px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 26px;
    padding-left: 4px;
    margin-top: -20px;
}



.connect {
    width: 40px;
    background-color: green;
    height: 10px;
    margin-top: 100px;
}

/* specific styles for brand divs of the stat component */
.recognize {
    margin-top: -50px;
}

.custom {
    margin-top: 50px;
}


/* styles for the boost component */

.boost {
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-boost-desktop.svg');
    background-color: rgb(139, 114, 163);
}

.boost h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}


/* styles for GeneratedLink component */
.generateDiv {
    display: flex;
    margin-top: 20px;
    width: 60%;
    background-color: white;
}

.your_link {
    margin-right: auto;
    margin-left: 20px;
}

.generatedLink {
    margin-right: 30px;
}

.copy {
    background-color: aqua;
    border: none;
    box-shadow: -2px 2px rgb(65, 245, 245);
}