/* styles for jumbotron section */

.jumbotron {
    margin-left: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.textJumbo {
    margin-right: 100px;
}

.textJumbo h2 {
    font-size: 40pt;
}

.textJumbo p, .textJumbo h2, .textJumbo a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textJumbo p {
    margin-bottom: 80px;
}

/* design get-started button */
.start {
    background-color: aquamarine;
    border-radius: 30px;
    box-shadow: -2px 2px rgb(125, 238, 201);
    padding: 8px;
    color: #fff;
}

/* stats section styles */

.stats {
    background-color: violet;
    margin-top: 80px;
}